.skin-black body > div {
  max-width: 1200px;
}
.skin-black .main-header > .logo {
  font-family:"Helvetica Neue", sans-serif ;
  font-weight:normal;
  letter-spacing:1px; 
  font-size:30px;
  background-color:#273691;
  color:#ffffff;
} 
 .skin-black .main-header > .logo:hover {
  background-color:#000000 
}
.skin-black .main-header .navbar {
  background-color:#273691
}
 .skin-black .main-header .navbar .nav > li > a {
  color:#fff 
}
 .skin-black .main-header .navbar .nav > li > a:hover {
  background:#ffffff;
  color:#d1351b 
}
 .skin-black .left-side, .skin-black .main-sidebar, .skin-black .wrapper {
  margin:0 1px; 
  background-color:#273691;
  color:#000000;
}
.skin-black .treeview-menu {
  background-color: #FFFFFF;
  color: #000000;
}
 .skin-black .sidebar-menu > li > .treeview-menu {
  margin:0 1px; 
  background:#8a8c8f;
  box-shadow:inset 0px 0px 7px #000000;
  padding-bottom:2px 
}